@model OptionViewModel
@{
    ViewData["Title"] = "Index";
}
<script>
    function optionClicked(recipe) {
        console.log("hit javascript");
        console.log(recipe);

        //var selectedName = document.getElementById("name");
        //selectedName.textContent = 
    }
</script>

<div class="outMostContainer">    
    <div class="selectionBar">
        @*@for (int i = 0; i < @Model.Recipies.Count; i++)
        {
        <div onclick="optionClicked(@i)" class="option">
            @Model.Recipies.ElementAt(i).Name
        </div>
        }*@
        
        @foreach (var recipe in @Model.Recipies)
        {
            <div onclick="optionClicked(@Html.Raw(Json.Serialize(recipe)))" class="option">
               @recipe.Name
            </div>
        }
    </div>
    
    <div class="selected">
       <p id="name" style="font-size: 14px;"></p>
    </div>
</div>



